<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Contactanos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="email" formControlName="email" matInput type="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea placeholder="Mensaje" formControlName="text" matInput type="text"> </textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">Enviar</button>
    </mat-card-actions>
  </mat-card>

</form>
